CompileFlags:
  Remove:
    - "-include"
    - "*/cmake_pch.hxx"
    - "-Winvalid-pch"
    - "-fsanitize=*"
    - "-fno-omit-frame-pointer"
    - "-fdiagnostics-color=always"

Index:
  Background: Build

Diagnostics:
  ClangTidy:
    Add: [bugprone-*, modernize-*, performance-*, cppcoreguidelines-*]
    FastCheckFilter: None