CompileFlags:
  Remove:
    - "-include"
    - "*/cmake_pch.hxx"
    - "-Winvalid-pch"
    - "-fsanitize=*"
    - "-fno-omit-frame-pointer"
    - "-fdiagnostics-color=always"

Index:
  Background: Build

Diagnostics:
  ClangTidy:
    Add: [bugprone-*, modernize-*, performance-*, cppcoreguidelines-*]
    Remove: [
      bugprone-easily-swappable-parameters,
      cppcoreguidelines-pro-type-union-access,
      cppcoreguidelines-avoid-const-or-ref-data-members,
      cppcoreguidelines-owning-memory,
      cppcoreguidelines-avoid-magic-numbers,
    ]
    FastCheckFilter: None